.section {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
  }
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 50px;
  }
  .section-list {
    display: flex;
    flex-direction: row;
  }
  .section-list__item {
    max-width: 270px;
  }
  &:not(:first-child) {
    margin-left: 30px;
  }